<a href="https://colab.research.google.com/github/IanKavanagh38/BTE320/blob/main/In_Class_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pi = 3.14
r = 3
h = 10
Area = 2 * pi * r * h + 2 * pi * r ** 2
print(Area)

244.92000000000002

In [ ]:
play = input('Do you want to play a game? ')

while play == 'yes':
  p1 = input('Player 1 :: rock, paper, scissors: ')
  p2 = input('Player 2 :: rock, paper, scissors: ')

  if p1 ==p2:
    print("Draw")
  elif (
      (p1 == 'rock' and p2 == 'scissors') or
      (p1 == 'scissors' and p2 == 'paper') or
      (p1 == 'paper' and p2 == 'rock')):
      print('player 1 wins!')
  else:
    print('player 2 wins!')
  play = input('Do you want to play another game? ')

Do you want to play a game? yes
Player 1 :: rock, paper, scissors: scissors
Player 2 :: rock, paper, scissors: rock
player 2 wins!
Do you want to play another game? no

In [ ]:
n1 = float(input('Enter first number: '))
n2 = float(input ('Enter second number: '))
symbol = input ('Operation (+, -, *, /, **): ')

if symbol == '+':
  print(n1 + n2)
elif symbol == '-':
  print(n1 - n2)
elif symbol == '*':
  print(n1 * n2)
elif symbol == '/':
  print(n1 / n2)
elif symbol == '**':
  print(n1 ** n2)

Enter first number: 2
Enter second number: 4
Operation (+, -, *, /, **): +
6.0

In [ ]:
flatRate = 5
hourlyRate = 2.5

for h in range (1,9,):
  charge = flatRate + hourlyRate * h
  if charge < 10:
    charge = 10
  elif charge > 20:
    charge = 20
  print(h, charge)

1 10
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

In [ ]:
flatRate = 10
attendees = 20
adMoney = 25
fixedCost = 200
for i in range (0,201,25):
  additionalAttendees = 2 * (i)**0.5
  profit = (attendees + additionalAttendees) * flatRate - i - fixedCost
  print(i, profit)

0 0.0
25 75.0
50 91.42135623730951
75 98.20508075688781
100 100.0
125 98.60679774997897
150 94.94897427831779
175 89.57513110645903
200 82.84271247461902

In [ ]:
L = []

item = int(input('Give a value: '))

while item != 0:
  L.append(item)
  item = int(input('Give a value: '))
print(L)

Give a value: 1
Give a value: 2
Give a value: 0
[1, 2]

In [ ]:
L1 = [1,2,3,4]
L2 = [1,2,5,6]

for item in L1[:]:
  if item in L2:
    L1.remove(item)

print(L1)

[3, 4]

In [10]:
months = {}

names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for idx in numbers:
  months[idx] = names[idx - 1]
months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}