<a href="https://colab.research.google.com/github/IanKavanagh38/BTE320/blob/main/In_Class_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pi = 3.14
r = 3
h = 10
Area = 2 * pi * r * h + 2 * pi * r ** 2
print(Area)

244.92000000000002

In [ ]:
play = input('Do you want to play a game? ')

while play == 'yes':
  p1 = input('Player 1 :: rock, paper, scissors: ')
  p2 = input('Player 2 :: rock, paper, scissors: ')

  if p1 ==p2:
    print("Draw")
  elif (
      (p1 == 'rock' and p2 == 'scissors') or
      (p1 == 'scissors' and p2 == 'paper') or
      (p1 == 'paper' and p2 == 'rock')):
      print('player 1 wins!')
  else:
    print('player 2 wins!')
  play = input('Do you want to play another game? ')

Do you want to play a game? yes
Player 1 :: rock, paper, scissors: scissors
Player 2 :: rock, paper, scissors: rock
player 2 wins!
Do you want to play another game? no

In [ ]:
n1 = float(input('Enter first number: '))
n2 = float(input ('Enter second number: '))
symbol = input ('Operation (+, -, *, /, **): ')

if symbol == '+':
  print(n1 + n2)
elif symbol == '-':
  print(n1 - n2)
elif symbol == '*':
  print(n1 * n2)
elif symbol == '/':
  print(n1 / n2)
elif symbol == '**':
  print(n1 ** n2)

Enter first number: 2
Enter second number: 4
Operation (+, -, *, /, **): +
6.0

In [ ]:
flatRate = 5
hourlyRate = 2.5

for h in range (1,9,):
  charge = flatRate + hourlyRate * h
  if charge < 10:
    charge = 10
  elif charge > 20:
    charge = 20
  print(h, charge)

1 10
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

In [ ]:
flatRate = 10
attendees = 20
adMoney = 25
fixedCost = 200
for i in range (0,201,25):
  additionalAttendees = 2 * (i)**0.5
  profit = (attendees + additionalAttendees) * flatRate - i - fixedCost
  print(i, profit)

0 0.0
25 75.0
50 91.42135623730951
75 98.20508075688781
100 100.0
125 98.60679774997897
150 94.94897427831779
175 89.57513110645903
200 82.84271247461902

In [3]:
L = []

item = int(input('Give a value: '))

while item != 0:
  L.append(item)
  item = int(input('Give a value: '))
print(L)

KeyboardInterrupt: Interrupted by user

In [2]:
L1 = [1,2,3,4]
L2 = [1,2,5,6]

for item in L1[:]:
  if item in L2:
    L1.remove(item)

print(L1)

[3, 4]

In [ ]:
months = {}

names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for idx in numbers:
  months[idx] = names[idx - 1]
months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

In [ ]:
for val in months.values():
  print(val)

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

In [ ]:
for key in months.keys():
  print(key)

1
2
3
4
5
6
7
8
9
10
11
12

In [ ]:
for key, value in months.items():
  print(key, value)

1 Jan
2 Feb
3 Mar
4 Apr
5 May
6 Jun
7 Jul
8 Aug
9 Sep
10 Oct
11 Nov
12 Dec

In [ ]:
def calculate_months_to_save(annual_salary, portion_saved, total_cost):
  portion_down_payment = 0.25
  r = 0.04
  down_payment = total_cost * portion_down_payment
  current_savings = 0.0
  monthly_salary = annual_salary / 12
  months = 0
  while current_savings < down_payment:
    current_savings += current_savings * (r / 12)
    current_savings += monthly_salary * portion_saved
    months += 1

  return months

def main():
    annual_salary = float(input("Enter your annual salary: "))
    portion_saved = float(input("Enter the percent of your salary to save, as a decimal: "))
    total_cost = float(input("Enter the cost of your dream home: "))

    months_needed = calculate_months_to_save(annual_salary, portion_saved, total_cost)

    print(f"Number of months: {months_needed}")

if __name__ == "__main__":
    main()

Enter your annual salary: 120000
Enter the percent of your salary to save, as a decimal: 0.10
Enter the cost of your dream home: 1000000
Number of months: 183

In [ ]:
def calculate_months_to_save(annual_salary, portion_saved, total_cost, semi_annual_raise):
  portion_down_payment = 0.25
  r = 0.04
  down_payment = total_cost * portion_down_payment
  current_savings = 0.0
  monthly_salary = annual_salary / 12
  months = 0
  while current_savings < down_payment:
    current_savings += current_savings * (r / 12)
    current_savings += monthly_salary * portion_saved
    months += 1
    if months % 6 == 0:
            annual_salary += annual_salary * semi_annual_raise
            monthly_salary = annual_salary / 12

  return months

def main():
    annual_salary = float(input("Enter your annual salary: "))
    portion_saved = float(input("Enter the percent of your salary to save, as a decimal: "))
    total_cost = float(input("Enter the cost of your dream home: "))
    semi_annual_raise = float(input("Enter the semi-annual raise, as a decimal: "))

    months_needed = calculate_months_to_save(annual_salary, portion_saved, total_cost, semi_annual_raise)

    print(f"Number of months: {months_needed}")

if __name__ == "__main__":
    main()

Enter your annual salary: 120000
Enter the percent of your salary to save, as a decimal: 0.05
Enter the cost of your dream home: 500000
Enter the semi-annual raise, as a decimal: 0.03
Number of months: 142

In [ ]:
def range_check(num, low, high):
  if num >= low and num <= high:
    return True
  else:
    return False

In [ ]:
print(range_check(1,2,3))

False

In [ ]:
res = range_check(num=2, low=1, high=3)
print(res)

True

In [ ]:
def calcFee(hours):
  fee = (hours * 2.5) + 5
  return fee

hours = int (input('Enter hours parked: '))
print('Parking Fee:',calcFee(hours))

Enter hours parked: 5
Parking Fee: 17.5

In [ ]:
def calcFee(hours, decimals = 2):
  fee = 5 + (hours * 2.5)
  fee = round(fee,decimals)
  return fee

def displayFee(fee):
  print(fee)

h = int(input('Enter hours parked: '))
fee = calcFee(h, decimals=0)
displayFee(fee)

Enter hours parked: 5
18.0

In [ ]:
def f(x): #name x used as formal parameter
  print('x =', x)
  return x

def main():
  x = 3
  y = 2
  z = f(x) #value of x used as actual parameter
  print('z =', z)
  print('x =', x)
  print('y =', y)

if __name__ == "__main__":
  main()

x = 3
z = 3
x = 3
y = 2

In [ ]:
def reverse(s):
  if len(s) == 1:
    return s
  else:
    return s[-1] + reverse(s[1:-1]) + s[0]
    return reverse(s[1:]) + s[0]
    return s[-1] + reverse(s[:-1])

reverse('Hello')

'olleH'

In [ ]:
"""
Function that calculates the weighted average of a list L, given weights w
The function should handle the following exception error types:
- ZeroDivisionError (returns empty list)
- TypeError (returns empty list)
- any other unknown error (returns float('nan'))
"""

def wAvg(L, w):
  try:
    res = []
    for i in range(len(L)):
      res.append(L[i]*w[i])
    return sum(res) / sum(w)
  except ZeroDivisionError:
    print('Divided by zero')
    return []
  except TypeError:
    print('Non-numerical objects found')
    return []
  except Exception as e:
    print(f'Unknown error: {e}')
    return float('nan')
wAvg([1,2,3],[.2,0,-.2])

Divided by zero

[]

In [ ]:
class Car:
  def __init__(self, n_doors, allwd, make, year):
    self.doors = n_doors
    self.allwd = allwd
    self.make = make
    self.year = year
    self.n_wheels = 4


c = Car(4, 0, 'Chevrolet', 2023)

In [ ]:
class Student:
  def __init__(self, name, number):
    self.__name = name
    self.number = number
    self.__courses = []

  def enroll(self,newCourse):
    if newCourse not in self.__courses:
      self.__courses.append(newCourse)
    else:
      print(f'You have already enrolled in {newCourse}')

  def get_courses(self):
    return self.__courses

In [ ]:
s = Student('Bob', '12345')

In [ ]:
s.enroll('ABC789')

You have already enrolled in ABC789

In [ ]:
s.get_courses()

['ABC789', 'ABC123', 'ABC456']